name: Check documentation build

on:
  workflow_call:

jobs:
  run-documentation-check:
    name: Documentation check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            docs/**
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - name: Install dependencies
        run: |
          cd docs
          gem install bundler
          bundle install
      - name: Build the site
        run: |
          cd docs
          bundle exec jekyll build --destination ./build
