name: PHP Tests

on:
  workflow_call:

jobs:
  run-linter:
    name: Run PHP_CodeSniffer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist
      - name: Run PHP_CodeSniffer
        run: vendor/bin/phpcs
